.message {
  margin-left: auto;
}

.imageAndText {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.imageAndText img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-left: 20px;
}

.text {
  position: relative;
  background-color: #06c;
  text-align: end;
  color: #fff;
  border-radius: 8px;
  padding: 8px 14px;
}

.text:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(100% - 7px);
  width: 18px;
  height: 13px;
  background-color: #06c;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  filter: drop-shadow(
    0 1px 2px 0 rgba(29, 33, 38, 0.1),
    0 5px 20px 0 rgba(29, 33, 38, 0.03)
  );
}

.name {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 3px;
}

.messageText {
  font-weight: 400;
  font-size: 16px;
}

.time {
  padding-right: 11px;
  text-align: end;
  font-weight: 600;
  font-size: 10px;
  color: #000;
}
