.message {
  margin-left: auto;
}

.imageAndText {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.imageAndText img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-left: 20px;
}

.text {
  position: relative;
  background-color: #06c;
  text-align: end;
  color: #fff;
  box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1),
    0 5px 20px 0 rgba(29, 33, 38, 0.03);
  border-radius: 8px;
  padding: 8px 14px;
}

.text:after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  right: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #06c transparent;
}

.name {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 3px;
}

.messageText {
  font-weight: 400;
  font-size: 16px;
}

.time {
  padding-right: 11px;
  text-align: end;
  font-weight: 600;
  font-size: 10px;
  color: #000;
}
