.App {
  --header_height: 60px;
  padding-top: 100px;
}

/* .hwContainer {
  max-width: 1140px;
} */

.hw {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.hwTitle {
  max-width: 1280px;
  margin: 37px auto 10px;
  font-weight: 600;
  font-size: 22px;
  color: #000;
}

.container {
  padding: 24px;
  max-width: 1280px;
  margin: auto;
}

.messageWrp {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  border: none;
}
