.friendMessage {
  margin-right: auto;
}

.friendImageAndText {
  display: flex;
  align-items: center;
}

.friendImageAndText img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 20px;
}

.friendText {
  position: relative;
  background-color: #f5f7fb;
  color: #000;
  box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1),
    0 5px 20px 0 rgba(29, 33, 38, 0.03);
  border-radius: 8px;
  padding: 8px 14px;
}

.friendText:after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #f5f7fb transparent;
}

.friendName {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 3px;
}

.friendMessageText {
  font-weight: 400;
  font-size: 16px;
}

.friendTime {
  padding-left: 11px;
  font-weight: 600;
  font-size: 10px;
  color: #000;
}
