.friendMessage {
  margin-right: auto;
}

.friendImageAndText {
  display: flex;
  align-items: center;
}

.friendImageAndText img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 20px;
}

.friendText {
  position: relative;
  background-color: #f5f7fb;
  color: #000;
  border-radius: 8px;
  padding: 8px 14px;
}

.friendText:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -13px;
  width: 18px;
  height: 13px;
  background-color: #f5f7fb;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  filter: drop-shadow(
    0 1px 2px 0 rgba(29, 33, 38, 0.1),
    0 5px 20px 0 rgba(29, 33, 38, 0.03)
  );
}

.friendName {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 3px;
}

.friendMessageText {
  font-weight: 400;
  font-size: 16px;
}

.friendTime {
  padding-left: 11px;
  font-weight: 600;
  font-size: 10px;
  color: #000;
}
