.sendForm {
  margin-top: 56px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.textarea {
  flex-grow: 1;
  min-height: 40px;
  padding: 12px 24px;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1),
    0 5px 20px 0 rgba(29, 33, 38, 0.03);
  background: #f5f7fb;
  border: none;
  resize: none;
  overflow: hidden;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  min-width: 120px;
  min-height: 40px;
  background: #06c;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  transition: all 0.15s ease;
}

.button:hover {
  background-color: rgb(6, 114, 222);
}
.button:active {
  background-color: rgb(2, 79, 157);
}
